.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 0;

}

.heading {
    font-weight: bold;
    font-size: 2.1rem;

}

.toolbar{
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.colors{
    display: flex;
    gap: 20px;
    padding: 0 30px;

}

.colors .color{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border-color: #239ce2;
}